# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

#Log
*.log

#Other
results/